.landingpage-bg {
    background-image: url('./images/BackgroundImage.jpg');
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.score {
  float: right;
  font-weight: bold;
}

.App {
  display: flex;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
}

.App-link {
  color: rgba(235, 84, 72, 1);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.video-wrapper{
    margin-left: 20px;
    margin-top: 5px;
    min-height: 500px;
    /*border: 5px solid rgba(73, 204, 249, 1.0);
    padding: 20px;*/
}

.discussion-wrapper{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    max-height: 580px;
    width: 500px;
    /* overflow: auto; */
    text-align: left;
    border: 5px solid rgba(235, 84, 72, 1);
    padding: 5px;
}

.question-list-wrapper{
    max-height: 490px;
    overflow: auto;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: rgba(108, 117, 125, 1);
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: rgba(108, 117, 125, .685);
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.button2 {
  display: inline-block;
  /*border: none;*/
  padding: 1rem 1.74rem;
  margin: 0;
  text-decoration: none;
  background: rgba(235, 84, 72, 1);
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button2:hover, 
.button2:focus {
  background:rgba(235, 84, 72, .685);
}

.button2:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.button2:active {
  transform: scale(0.99);
}

.red_nav_text {
    color:rgb(240, 101, 101);
    text-shadow: 1px 1px black;
    display: inline;
    vertical-align: middle;
}

.whiteText {
    color:white;
}

.normalText {
    color: black;
}

.viewTitle {
    margin-top: 2rem;
}

.redText {
    color:rgb(255, 94, 94);
    padding: 4rem;
}